.home-container {
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.hero {
  text-align: center;
  margin-bottom: 3rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
}

.hero-subtitle1 {
  font-size: 1.25rem;
  color: #555;
  margin-top: 0.5rem;
}

.hero-subtitle2 {
  font-size: 1.25rem;
  color: #555;
  margin-top: 0.5rem;
}

.hero-subtitle3 {
  font-size: 1.25rem;
  color: #555;
  margin-top: 0.5rem;
}
